<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWVU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A859C5E51C30CD84000CF361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A859C6011C30CD84000CF361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A859C60C1C30CD84000CF361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
